@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    display: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.titlein {
    position: relative;
    top: 0;
    text-align: center;
    height: 1em;
    font-size: 3em;
}

.subtitle {
    text-align: center;
    font-size: 1.3em;
    font-weight: lighter;
}

code {
    font-family: monospace;
    background: #F8F8FF;
}

h1 {
    display: inline
}

.blocktitle {
    font-size: 1.5em;
}

a {
    color: rgb(0, 0, 0)
}

.logtitle {
    transition: font-size 300ms;
}

.logtitle:hover {
    font-size: 2em;
}

.block {
    display: block;
    position: relative;
    text-align: center;
    padding: 1em;
    border-style: inset;
    margin: 1em;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.loginform {
    border-style: solid;
    border-width: 1px;
    padding: 2em;
    position: relative;
    width: 15em;
    left: 50%;
    transform: translateX(-50%);
}

.loginform input {
    text-align: center;
}

.pageswitch {
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    font-family: "Montserrat", sans-serif;
    padding: 1em;
    margin: 0.5em;
    font-size: large;
}

.logo {
    transition: height 300ms;
}

.logo:hover {
    height: 11em;
}