@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.centered {
    text-align: center;
    margin: auto;
    width: 50%;
    top: 50%;
    font-size: 2em;
    transform: translateY(50%);
}

.bottom-desc {
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 1em
}

.otherbutton {
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
}